<form [formGroup]="form" (ngSubmit)="submitForm(form.value.demoArray)">
    <div formArrayName="demoArray" *ngFor="let movie of arrayMovies; let i = index"  class="form-container">

        <div class="movie-container">
            <app-movie [movie]="movie"></app-movie>
        </div>
        <div class="checkbox-container">
            <input type="range" max="5" min="1" step="1" [formControlName]="i" class="checkbox-main">
            <div class="labels">
                <label>Bad</label>
                <label>Good</label>
            </div>
            
        </div>
    
    </div>
    <div class="btn-space">
        <button type="submit" [disabled]="form.invalid" class="btn btn-warning">Oceń</button>
    </div>
    <div *ngIf="isSubmited">Submitted!</div>
</form>