.form-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    // background-color: yellow;

    &:hover {
        background-color:#F8F7DE;
    }

    border-radius: 15px;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #D29D30;
}

.movie-container {
    width: 60%;
}

.checkbox-container {
    width: 25%;
    align-self: center;
}

.btn-space {
    display: flex;
    // width: 100%;
    justify-content: center;
}

.labels {
    display: flex;
    justify-content: space-between;
}

input {
    width: 100%;
}

.checkbox-gray {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background:gray; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}


.checkbox-main {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background:blue; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.resign-from-rating {
    width: 15%;
    align-self: center;
}