.form{
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-self: center;
    // background-color: yellow;

    &:hover {
        background-color:#F8F7DE;
    }

    border-radius: 15px;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #D29D30;
}

.container {
    display: flex;
    align-items: center;
    justify-content: left;
}

.rating-component {
    background-color: red;
    align-self: center;
    width: 20%;
    height: 100%;
}

.movie-container {
    width: 40%;
    height: 100%;
}

.errorMessage {
    width: 40%;
    background-color: pink;
    align-self: center;
    height: 100%;
}

img {
    max-width: 100px;
    align-self: center;
}

.title{
    padding-left: 15px;
    align-self: center;
    vertical-align: middle;
}



