<div [formGroup]="form" class="form">

    <div class="movie-container">
        <div class="container"> 
            <div class="images">
                <img [src]="url + question.moviePosterUrl"/>
            </div>
            <div class="title">
                <h4>{{question.movieTitle}}</h4>
            </div>
        </div>
    </div>

    <div class="rating-component">
        <input type="checkbox" [formControlName]="question.movieID" [checked]="question.watched" >
        <br>
        <label>Mark if unwatched</label>
    </div>

    <div class="slider-component">
        <input type="range" max="5" min="1" step="1" [formControlName]="question.movieID" [value]="question.movieRating" required>
    </div>
</div>

<div class="errorMessage" *ngIf="!isValid"> 
    {{question.movieTitle}} is required!
</div>